app-settings {
    .example-sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        background: #eaeef6;
        .thumbnail {
          border-radius: 8px;
        }
        .mat-card {
          padding: 16px 36px;
          border: 1px double gray;
          border-radius: 20px;
          margin: 6px;
          .mat-card-header-text {
            margin: 0pt auto;
          }
          .mat-card-actions {
            text-align: center;
          }
        }
      }
    .mat-drawer-container {
      background: #e1e1e1;
      .mat-drawer-content {
        transition-duration: .1s;
        overflow: hidden;

        > div.container {
          height: 100%;
          width: 100%;
          display: block;
          gridster {
            height: calc(100vh - 110px);
            background-color: rgb(255, 255, 255);
            .gridster-row {
              transition: 0.05s;
              border: 1px dashed rgba(63, 114, 190, 0.5);
              border-radius: 8px;
              border-top: none;
            }
            .gridster-column {
              transition: 0.05s;
              border: 1px dashed rgba(63, 114, 190, 0.5);
              border-radius: 8px;
              border-left: none;
            }
            gridster-item {
              transition: 0.05s;
              border-radius: 8px;
              background-color: rgba(173, 195, 255, 0.6);
              .handle-s {
                height: 10px;
              }
              .handle-e {
                width: 10px;
              }
              .handle-n {
                height: 10px;
              }
              .handle-w {
                width: 10px;
              }
            }
          }
        }
      }
    }
  }
